.background {
    background-image: url("backgorund.jpg");
    background-size: cover;
    padding: 90px;
    border-radius: 5px;
}

#header_1 {
    color: white;
    font-family: 'DM Sans', sans-serif;

}

.login-1 {
    background-color: rgb(218, 146, 141);
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: center;
    border-radius: 5px;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-2 {
    background-color: rgb(218, 146, 141);
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    border-radius: 5px;

}



.input {
    width: 100%;
    height: 30px;
    font-size: larger;
    border-color: rgb(248, 248, 248);
    border-radius: 2px;
}

#output {
    background: rgb(255, 241, 241);
    border-radius: 10px;
    border-top: 10px solid rgb(53, 11, 82);

}

#send_button {
    background-color: rgb(125, 170, 107);
    color: black;
    border-style: none;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;

}